<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="socket.host">${bundle:application:logstash.host}</Property>
        <Property name="socket.port">${bundle:application:logstash.port}</Property>
        <Property name="console.thresholdFilter">${bundle:application:logger.console.tresholdFilter}</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <ThresholdFilter level="${console.thresholdFilter}"/>
            <PatternLayout pattern="%d %-5p [%t] %c{10} - %m%n"/>
        </Console>
        <File name="FILE" fileName="src/logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="ASYNC">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="com.example.littlesearch" level="debug" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
