<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting Started: Little search core</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<h2><p th:text="Sites List" /></h2>
<select class="form-select" aria-label="Default select example">
    <option selected>All sites</option>
    <div th:each="site : ${sites}">
        <option th:text="${site.getName() + ', ' + site.getUrl}">site</option>
    </div>

<!--    <option value="2"></option>-->
<!--    <option value="3"></option>-->
</select>

</body>
</html>